# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml*
*.iws
*.ipr

# Package Files #
*.jar
*.war
*.ear

# Mac
.DS_Store

# ms vscode
.vscode/

# Maven
/log/
**/target/
**/dg-aggregation/*.json

# Spring
**/logs/
**/conf/

# OIL
OILLogs/

# Python
*.pyc

jgiven-reports/
*.log

ui/node_modules/**
