body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.angle-menu {
  z-index: 10;
  display: flex;
  flex-grow: 1;
  font-family: "Lobster", cursive;

  a {
    background-color: white;
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;

    span {
      text-align: center;
      flex-grow: 1;
      transform: rotate(-80deg);
      font-size: 5em;
      color: antiquewhite;
    }
  }
  a::after {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 150px;
    height: 100%;
    background-repeat: no-repeat;
    content: "";
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='white' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 0,100' /%3E%3C/svg%3E");
    background-color: black;
  }
  a:first-child {
    background-color: black;
  }
  a:first-child::after {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='black' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 0,100' /%3E%3C/svg%3E");
    background-color: white;
  }
  a:nth-child(2) {
    background-color: white;
  }
  a:nth-child(2) span {
    color: brown;
  }
  a:nth-child(3) {
    background-color: black;
  }
  a:nth-child(3)::after {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='black' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 0,100' /%3E%3C/svg%3E");
    background-color: black;
  }
}
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 60px;
  padding: 12px;
  width: 100vw;
  z-index: 100;
  background-color: none;
  justify-content: flex-start;
  align-items: center;
  font-family: "Lobster";

  a {
    text-decoration: none;
    color: brown;
    font-size: 1.5em;
  }
  nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
  }
}

.brand {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
  font-family: "Lobster", cursive;
  color: brown;
}
